.flexible-image-gallery {
	container-type: inline-size;
  display: flex;
	flex-wrap: wrap;

  --fig-row: 3;
	/*--fig-gap: 1rem;
	--fig-margin-top: var(--fig-gap);
	--fig-margin-bottom: var(--fig-gap);*/
	gap: var(--fig-gap);
	margin-top: var(--fig-margin-top);
	margin-bottom: var(--fig-margin-bottom);
}

.fig--single .fig--item {
	flex: 0 1 auto;
}

.fig--even {
	--fig-row: 2;
}

.fig--prime {
	.fig--item:nth-child(-n + 2) {
		--fig-row: 2;
	}
}

.fig--item {
	box-sizing: border-box;
	flex: 1 0 100%;
	@container (min-width: 600px) {
		flex: 1 1 calc(100% / var(--fig-row) - var(--fig-gap));
	}
}
